ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 2px solid black;
}

li {
    border-bottom: 1px solid black;
}

li:last-child {
    border-bottom: none;
}

li a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    text-align: left;
}

li a:hover {
    background-color: #555;
    color: white;
}

h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (max-width: 1343px) {
    ul {
        width: 20%;
    }
}

@media (max-width: 1020px) {
    ul {
        width: 25%;
    }
}

@media (max-width: 810px) {
    ul {
        width: 35%;
    }
}

@media (max-width: 570px) {
    ul {
        width: 100%;
        height: auto;
        position: relative;
    }

    ul li a {
        text-align: center;
        float: none;
    }
}